.background {
  background-color: azure;
}

h1 {
  text-shadow: 2px 2px;
}

#first-riddle {
  width: 400px;
  padding: 10px;
  border: 5px solid black;
  margin: 0;
}

#second-riddle {
  width: 400px;
  padding: 10px;
  border: 5px solid black;
  margin: 0;
}

#third-riddle {
  width: 400px;
  padding: 10px;
  border: 5px solid black;
  margin: 0;
}

#fourth-riddle {
  width: 400px;
  padding: 10px;
  border: 5px solid black;
  margin: 0;
}

#fifth-riddle {
  width: 400px;
  padding: 10px;
  border: 5px solid black;
  margin: 0;
}

#sixth-riddle {
  width: 400px;
  padding: 10px;
  border: 5px solid black;
  margin: 0;
}

#seventh-riddle {
  width: 400px;
  padding: 10px;
  border: 5px solid black;
  margin: 0;
}

#eighth-riddle {
  width: 400px;
  padding: 10px;
  border: 5px solid black;
  margin: 0;
}
